{% extends 'C2/base.html' %}
{% block content %}

<h1><a href="/">{{ agent.name }}</a></h1>

<h2>Agent info</h2>

<ul class="AgentInfo">
    <li><span>Type:</span> {{ agent.type }}</li>
    <li><span>Is Active:</span> {{ agent.is_active }}</li>
    <li><span>Last Online:</span> {{ agent.last_online }}</li>
    <li><span>Host:</span> {{ agent.host }}</li>
    <li><span>IP:</span> {{ agent.ip }}</li>
    <li><span>Port:</span> {{ agent.port }}</li>
    <li><span>UID:</span> {{ agent.uid }}</li>
    <li><span>GUID:</span> {{ agent.guid }}</li>
    <li><span>OS:</span> {{ agent.os }}</li>
    <li><span>OS Version:</span> {{ agent.os_version }}</li>
    <li><span>Location:</span> {{ agent.location }}</li>
    <li><span>Description:</span> {{ agent.description }}</li>
    <li><span>Created at:</span> {{ agent.created }}</li>
</ul>

<h2>Agent Command list</h2>

<div class="buttonList">
    {% for command in agent.command_list %}
    <button class="commandButton" onclick="sendButtonCommand('{{ command.syntax }}')">
        {{ command.name }}
    </button>
    {% endfor %}
</div>

<h2>Agent Shell</h2>

<div id="shell">

</div>

<div class="commandContainer">
    <span class="commandPrefix">></span>
    <input type="text" class="commandInput" name="" id="command" onkeyup="if (event.keyCode == 13) sendCommand()">
</div>




<script>

    const webSocket = new WebSocket('ws://localhost:8000/ws/notification/?ip={{ agent.ip }}&port={{ agent.port }}');

    webSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(data);

        //replace > with &gt; and < with &lt;
        data.message = data.message.replace(/>/g, '&gt;');
        data.message = data.message.replace(/</g, '&lt;');

        document.getElementById('shell').innerHTML += '<code><pre>' + data.message + '</pre></code>';
    };

    webSocket.onopen = function (e) {
        console.log('Connection established!');
        this.send(JSON.stringify({
            'message': 'echo Agent Connection Validation.'
        }));
    };

    webSocket.onerror = function (e) {
        console.log('Error occured!');
    };

    webSocket.onclose = function (e) {
        console.log('Connection closed!');
    };

    function sendCommand() {
        var command = document.getElementById('command').value;
        document.getElementById('shell').innerHTML += '<span class="shellCommandPrefix">></span> ' + command + '<br>';
        webSocket.send(JSON.stringify({
            'message': command
        }));
        document.getElementById('command').value = '';
    }

    function sendButtonCommand(command) {
        document.getElementById('shell').innerHTML += '<span class="shellCommandPrefix">></span> ' + command + '<br>';
        webSocket.send(JSON.stringify({
            'message': command
        }));
    }



</script>


{% endblock %}