{% extends 'C2/base.html' %}
{% block content %}

<h1>{{ agent.name }}</h1>

<h2>Agent info</h2>

<ul class="AgentInfo">
    <li><b>Type:</b> {{ agent.type }}</li>
    <li><b>Is Active:</b> {{ agent.is_active }}</li>
    <li><b>Last Online:</b> {{ agent.last_online }}</li>
    <li><b>Host:</b> {{ agent.host }}</li>
    <li><b>IP:</b> {{ agent.ip }}</li>
    <li><b>Port:</b> {{ agent.port }}</li>
    <li><b>UID:</b> {{ agent.uid }}</li>
    <li><b>GUID:</b> {{ agent.guid }}</li>
    <li><b>OS:</b> {{ agent.os }}</li>
    <li><b>OS Version:</b> {{ agent.os_version }}</li>
    <li><b>Location:</b> {{ agent.location }}</li>
    <li><b>Description:</b> {{ agent.description }}</li>
    <li><b>Created at:</b> {{ agent.created }}</li>
</ul>

<h2>Agent Shell</h2>

<div id="shell"></div>

<input type="text" name="" id="command" 
    onkeyup="if (event.keyCode == 13) sendCommand()"
>

<h2>Agent Command list</h2>

{% for command in agent.command_list %}
<button class="commandButton" 
        onclick="sendButtonCommand('{{ command.syntax }}')"
>
    {{ command.name }}
</button>
{% endfor %}

<script>

    const webSocket = new WebSocket('ws://localhost:8000/ws/notification/?ip={{ agent.ip }}&port={{ agent.port }}');

    webSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(data);

        //replace > with &gt; and < with &lt;
        data.message = data.message.replace(/>/g, '&gt;');
        data.message = data.message.replace(/</g, '&lt;');
        
        document.getElementById('shell').innerHTML += '<code><pre>' + data.message + '</pre></code>';
    };

    webSocket.onopen = function (e) {
        console.log('Connection established!');
        this.send(JSON.stringify({
            'message': 'echo Agent Connection Validation.'
        }));
    };

    webSocket.onerror = function (e) {
        console.log('Error occured!');
    };

    webSocket.onclose = function (e) {
        console.log('Connection closed!');
    };

    function sendCommand() {
        var command = document.getElementById('command').value;
        document.getElementById('shell').innerHTML += "> " + command + '<br>';
        webSocket.send(JSON.stringify({
            'message': command
        }));
        document.getElementById('command').value = '';
    }

    function sendButtonCommand(command) {
        document.getElementById('shell').innerHTML += "> " + command + '<br>';
        webSocket.send(JSON.stringify({
            'message': command
        }));
    }


    
</script>


{% endblock %}