{% extends 'C2/base.html' %}
{% block content %}

<h1>InfraHunters Agents</h1>

<table class="AgentsTable">
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Is Ative</th>
        <th>Last Online</th>
        <th>Host</th>
        <th>IP</th>
        <th>Port</th>
        <th>UID</th>
        <th>GUID</th>
        <th>OS</th>
        <th>OS Version</th>
        <th>Location</th>
        <th>Description</th>
        <th>Created at</th>
        <th>Commands</th>
    </tr>
    {% for agent in agents %}
    <tr id="{{ agent.id }}" onclick="openAgent()">
        <td>{{ agent.name }}</td>
        <td>{{ agent.type }}</td>
        <td>
            {% if agent.is_active %}
            <input type="checkbox" checked disabled>
            {% else %}
            <input type="checkbox" disabled>
            {% endif %}
        </td>
        <td>{{ agent.last_online }}</td>
        <td>{{ agent.host }}</td>
        <td>{{ agent.ip }}</td>
        <td>{{ agent.port }}</td>
        <td>{{ agent.uid }}</td>
        <td>{{ agent.guid }}</td>
        <td>{{ agent.os }}</td>
        <td>{{ agent.os_version }}</td>
        <td>{{ agent.location }}</td>
        <td>{{ agent.description }}</td>
        <td>{{ agent.created }}</td>
        <td>
            <ul>
                {% for command in agent.command_list %}
                <li>{{ command.name }}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    {% endfor %}
</table>

<script>
    function openAgent() {
        var agentId = event.target.parentElement.id;
        window.location.href = '/agent/?id=' + agentId;
    }
</script>


{% endblock %}